<h2><%= @lijst.name %></h2>

<%= link_to "Add tings", new_lijst_ting_path(@lijst) %>

<ul id='tings'>
  <% @lijst.tings.each do |ting| %>
  <li>
     <%= check_box_tag(:pet_dog) %>
    #<%= ting.id %> - <%= link_to ting.name, [@lijst, ting] %>
  </li>
  <% end %>
</ul>
