<div id="wrapper">
	<div id="wrapper2">
<%= render 'shared/header' %>

		<div id="page">
			<div id="content">
				<div class="post">

<h2 class="title"><%= @lijst.name %></h2>

<%= link_to "Add tings", new_lijst_ting_path(@lijst) %>

<ul id='tings'>
  <% @lijst.tings.each do |ting| %>
  <li>
    #<%= ting.id %> - <%= link_to ting.name, [@lijst, ting] %>
  </li>
  <% end %>
</ul>

</div>
</div>
</div>

<div id="sidebar"></div> <!-- TODO: render sidebar -->
			<div style="clear: both;">&nbsp;</div>

		<!-- end #page -->
		<div id="footer">
			<p>Copyright (c) 2012 Klijst.com. All rights reserved. Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
		</div>
</div>

</div>
