<!DOCTYPE html>

<html>

	<head>

		<title>Klijst</title>

		<%= stylesheet_link_tag    "application" %>

		<%= javascript_include_tag "application" %>

		<%= csrf_meta_tags %>
	</head>

	<body>
		<% flash.each do |key,value| %>
		<div class='flash' id='<%= key %>'>
			<%= value %>
		</div>
		<% end %>

		<div id="wrapper">
			<div id="wrapper2">
				<%= render 'shared/header' %>
				<div id="page">
					<div id="content">
						<div class="post">
							<%= yield %>
						</div>
					</div>
				<%= render 'shared/sidebar' %>
				<div style="clear: both;">&nbsp;</div>
				</div>
				<div id="footer">
					<p>
						Copyright (c) 2012 Klijst.com. All rights reserved. Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.
					</p>
			</div>
		</div>
	</div>

	</body>

</html>
